{% extends "fondos/base.html" %}

{% block title %}Iniciar Sesión | Fondos{% endblock %}

{% block content %}
<div class="row justify-content-center h-100 align-items-center mt-5">
    <div class="col-md-5">
        <div class="card p-4">
            <h3 class="text-center mb-4 fw-bold text-primary-custom">Iniciar Sesión</h3>
            <form method="post">
                {% csrf_token %}
                
                {% if form.errors %}
                <div class="alert alert-danger">
                    Usuario o contraseña incorrectos. Intente de nuevo.
                </div>
                {% endif %}
                
                <div class="mb-3">
                    <label class="form-label fw-semibold">Usuario</label>
                    <input type="text" name="username" class="form-control" required autofocus>
                </div>
                <div class="mb-3">
                    <label class="form-label fw-semibold">Contraseña</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="d-grid mt-4">
                    <button type="submit" class="btn btn-primary-custom py-2 fw-bold">Entrar al Portal</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
